<!doctype html>
<html lang=<%= language%>>
<head>
<title>talkn</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta content="Comment to web. talkn can share comments with users watching the same web page. Please enjoy the world of talkn." name="description">
<meta name="theme-color" content="rgb(79, 174, 159)">

<meta property="og:title" content="talkn">
<meta property="og:type" content="website">
<meta property="og:url" content="https://<%= domain %>">
<meta property="og:image" content="https://<%= assetsURL %>/www/img1min.jpg">
<meta property="og:site_name" content="talkn">
<meta property="og:description" content="talkn can share comments with users watching the same WEB page. Please enjoy the world of fun talkn.">
<meta property="fb:page_id" content="641091596303567">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@IoTalkn">
<meta name="twitter:url" content="https://<%= domain %>">
<meta name="twitter:title" content="talkn">
<meta name="twitter:description" content="talkn can share comments with users watching the same WEB page. Please enjoy the world of fun talkn.">
<meta name="twitter:image" content="https://<%= assetsURL %>/www/img1min.jpg">

<link rel="manifest" href="/manifest.json">
<link rel="canonical" href="https://<%= apiURL %>/">
<script async type="text/javascript" src="https://<%= apiAccessURL %>"></script>
</head>
<body style="overflow: inherit; width: inherit; height: inherit; margin: 0 auto;">
    talknAPI.console();
    <input type="text" value="1" />
</body>
</html>