<!DOCTYPE html>
<html amp lang="<%= language %>">
  <head>
    <title>talkn for web</title>
    <meta charset="utf-8" />
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="rgb(79, 174, 159)" />
    <meta
      name="description"
      content="talkn can share comments with users watching the same WEB page. Please enjoy the world of fun talkn."
    />
    <meta name="keywords" content="talkn" />
    <meta name="title" content="talkn" />
    <meta name="”robots”" content="”index,nofollow,noarchive”" />

    <meta property="og:title" content="talkn" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://<%= domain %>" />
    <meta property="og:image" content="https://<%= assetsURL %>/img/talkn_logo1.png" />
    <meta property="og:site_name" content="talkn" />
    <meta
      property="og:description"
      content="talkn can share comments with users watching the same WEB page. Please enjoy the world of fun talkn."
    />
    <meta property="fb:page_id" content="641091596303567" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@IoTalkn" />
    <meta name="twitter:url" content="https://<%= domain %>" />
    <meta name="twitter:title" content="talkn" />
    <meta
      name="twitter:description"
      content="talkn can share comments with users watching the same WEB page. Please enjoy the world of fun talkn."
    />
    <meta name="twitter:image" content="https://<%= assetsURL %>/img/talkn_logo1.png" />

    <link rel="manifest" href="https://<%= domain %>/manifest.json" />
    <link rel="shortcut icon" href="https://<%= assetsURL %>/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://<%= assetsURL %>/favicon.ico" />
    <link rel="canonical" href="https://<%= domain %>/" />

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script data-ad-client="ca-pub-5285495593698579" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script id="talknClient" async type="text/javascript" src="https://<%= componentsURL %>"></script>

    <script type="text/javascript">
      const onServiceWorker = () => {
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker
            .register('/service.worker.js')
            .then(function (registration) {
              console.log('[ServiceWorker] suscessful: ', registration.scope);
            })
            .catch(function (err) {
              console.log('[ServiceWorker] failed: ', err);
            });
        }
      };
      // onServiceWorker();
    </script>
    <noscript key="noscript">Your browser does not support JavaScript!</noscript>
    <style amp-boilerplate>
      body {
        -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
        animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      }
      @-webkit-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-moz-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-ms-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @-o-keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @keyframes -amp-start {
        from {
          visibility: hidden;
        }
        to {
          visibility: visible;
        }
      }
      @keyframes logo {
        0% {
          transform: scale(1) translate3d(0px, 0px, 0px);
          opacity: 1;
        }
        50% {
          transform: scale(0.9) translate3d(0px, 0px, 0px);
          opacity: 1;
        }
        100% {
          transform: scale(1) translate3d(0px, 0px, 0px);
          opacity: 1;
        }
      }

      .talknThread {
        width: 100vw;
        height: 100vh;
      }
    </style>
    <noscript>
      <style amp-boilerplate>
        body {
          -webkit-animation: none;
          -moz-animation: none;
          -ms-animation: none;
          animation: none;
        }
      </style>
    </noscript>
  </head>
  <body>
    <div id="talkn" class="talknThread" data-ch="/"></div>
  </body>
  <script type="text/javascript">
    const talkn = document.getElementById('talkn');
    talkn.dataset.ch = location.href.replace(/^(.*?\/){3}/, '/');
  </script>
</html>
